$color-green: #0C8543;
$color-white: #ffffff;
$color-green-light: #F3F9F6;
$color-light-grey: #E0E0E0;
$color-grey: #F6F6F6;

$color-on-green: $color-white;

$mobile-max-width: 576px;
$tablet-max-width: 992px;
$tablet-sm-max-width: 768px;

$font-main: 'Montserrat', sans-serif;

@mixin mobile {
    @media screen and (max-width: $mobile-max-width) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet-max-width) {
        @content;
    }
}

@mixin tablet-sm {
    @media screen and (max-width: $tablet-sm-max-width) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

h1 {
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 50px;

    @include tablet() {
        font-size: 32px;
        line-height: 40px;
    }

    @include mobile() {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 25px;
    }
}

h3 {
    font-size: 27px;
    line-height: 36px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;

    @include mobile() {
        font-size: 20px;
        line-height: 26px;
    }
}

p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 25px;

    @include mobile() {
        font-size: 16px;
        line-height: 24px;
    }
}

ul {
    list-style: none;
}

a {
    color: $color-on-green;
    font-size: 14px;
    line-height: 17px;
}

.text {
    &GreenHiglight {
        color: $color-green;
    }

    &Shadowed {
        background-color: transparent;
        text-shadow: 0px 4px 4px rgba(0,0,0,0.1);
    }

    &Size50 {
        font-size: 50px;

        @include tablet() {
            font-size: inherit;
        }
    }
}

.bgGreenLight {
    background-color: $color-green-light;
}

.header {
    padding: 20px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 50px;

    @include mobile() {
        padding: 10px;
        margin-bottom: 25px;
    }
}

.logo {
    $this: &;
    display: flex;
    width: fit-content;
    border-radius: 4px 4px;
    border: 1px solid $color-green;

    &_light {
        border: 2px solid $color-on-green;

        #{$this}__space {
            background-color: $color-on-green;
        }
    }

    &__space, &__content {
        height: 54px;

        @include mobile() {
            height: 48px;
        }
    }

    &__space {
        width: 52px;

        @include mobile() {
            width: 44px;
        }
    }

    &__content {
        position: relative;
        width: 114px;
        background-color: $color-green;

        @include mobile() {
            width: 104px;
        }
    }

    &__title {
        position: absolute;
        bottom: 8px;
        left: 8px;

        @include mobile() {
            bottom: 6px;
            left: 6px;

            & > img {
                width: 83px;
                height: 17px;
            }
        }
    }
}

.logoWrapper {
    display: flex;
    justify-content: center;
}

.featureList {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 60px;

    @include tablet-sm() {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        margin-bottom: 35px;
    }
}

.feature {
    padding: 30px 18px;
    text-align: center;
    border-radius: 8px;

    @include mobile() {
        padding: 20px 16px;
    }

    &__icon {
        margin-bottom: 15px;

        @include mobile() {
            width: 60px;
            height: 60px;
        }
    }

    &__title {
        padding: 0;
        margin: 0;
        font-size: 21px;
        line-height: 28px;

        @include tablet() {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

.details {
    padding: 60px 0;

    @include mobile() {
        padding: 35px 0;
    }
}

.detailsItem {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    @include mobile() {
        margin-bottom: 30px;
    }

    &__descr {
        margin: 0;

        @include tablet-sm() {
            margin-bottom: 20px;
        }
    }

    &__img {
        width: 100%;
        position: relative;
    }

    &__icon {
        position: absolute;
        top: -20px;
        right: -5px;

        @include mobile() {
            width: 200px;
            top: 10px;
            right: 25px;
        }
    }
}

.methods {
    padding: 60px 0;
    text-align: center;
}

.methodsList {
    &Item {
        background-color: $color-green;
        color: $color-on-green;
        border-radius: 8px;

        &__title {
            padding: 15px;
            margin: 0;
            font-size: 21px;
            line-height: 28px;
        }

        &__img {
            width: 100%;
            border-radius: 8px;
            vertical-align: top;
        }
    }
}

.warranty {
    background-color: $color-grey;

    @include tablet-sm() {
        text-align: center;
        padding: 35px 0;
    }

    &__img {
        width: 100%;
        max-width: 256px;
        margin: -12px 0;

        @include tablet-sm() {
            max-width: 170px;
            margin: 0 0 20px 0;
        }
    }

    &__text {
        margin-bottom: 0;
    }
}

.remark {
    padding: 60px;
    text-align: center;

    @include mobile() {
        padding: 35px 15px;
    }

    &__text {
        margin: 0;
    }
}

footer {
    padding: 25px 0;
    background-color: $color-green;
    color: $color-on-green;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet() {
        display: block;
        text-align: center;
    }
}

.navList {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 15px;
    
    @include tablet() {
        display: block;
        margin: 25px 0;
        padding: 0;
    }

    &__item {
        margin-right: 30px;

        @include tablet() {
            margin-right: 0;
            margin-bottom: 15px;
        }
        
        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}

.footerCopyright {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}