$color-green: #0C8543;
$color-green-light: #F3F9F6;
$color-light-grey: #E0E0E0;

$mobile-max-width: 576px;
$tablet-max-width: 992px;
$tablet-sm-max-width: 768px;

$font-main: 'Montserrat', sans-serif;

@mixin mobile {
    @media screen and (max-width: $mobile-max-width) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet-max-width) {
        @content;
    }
}

@mixin tablet-sm {
    @media screen and (max-width: $tablet-sm-max-width) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

h1 {
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 50px;

    @include tablet() {
        font-size: 32px;
        line-height: 40px;
    }

    @include mobile() {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 25px;
    }
}

.text {
    &GreenHiglight {
        color: $color-green;
    }

    &Shadowed {
        background-color: transparent;
        text-shadow: 0px 4px 4px rgba(0,0,0,0.1);
    }

    &Size50 {
        font-size: 50px;

        @include tablet() {
            font-size: inherit;
        }
    }
}

.bgGreenLight {
    background-color: $color-green-light;
}

.header {
    padding: 20px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 50px;

    @include mobile() {
        padding: 10px;
        margin-bottom: 25px;
    }
}

.logo {
    display: flex;
    margin: auto;
    width: fit-content;
    border-radius: 4px 4px;
    border: 1px solid $color-green;

    &__space, &__content {
        height: 54px;

        @include mobile() {
            height: 48px;
        }
    }

    &__space {
        width: 52px;

        @include mobile() {
            width: 44px;
        }
    }

    &__content {
        position: relative;
        width: 114px;
        background-color: $color-green;

        @include mobile() {
            width: 104px;
        }
    }

    &__title {
        position: absolute;
        bottom: 8px;
        left: 8px;

        @include mobile() {
            bottom: 6px;
            left: 6px;

            & > svg {
                width: 83px;
                height: 17px;
            }
        }
    }
}

.featureList {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 60px;

    @include tablet-sm() {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        margin-bottom: 35px;
    }
}

.feature {
    padding: 30px 18px;
    text-align: center;
    border-radius: 8px;

    @include mobile() {
        padding: 20px 16px;
    }

    &__icon {
        margin-bottom: 15px;

        @include mobile() {
            width: 60px;
            height: 60px;
        }
    }

    &__title {
        padding: 0;
        margin: 0;
        font-size: 21px;
        line-height: 28px;

        @include tablet() {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

.details {
    padding: 60px 0;

    @include mobile() {
        padding: 35px 0;
    }
}

.detailsItem {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    @include mobile() {
        margin-bottom: 30px;
    }

    &__title {
        font-size: 27px;
        line-height: 36px;
        padding: 0;
        margin-top: 0;
        margin-bottom: 15px;

        @include mobile() {
            font-size: 20px;
            line-height: 26px;
        }
    }

    &__descr {
        font-size: 18px;
        line-height: 26px;
        margin: 0;

        @include mobile() {
            font-size: 16px;
            line-height: 24px;
        }
        
        @include tablet-sm() {
            margin-bottom: 20px;
        }
    }

    &__img {
        width: 100%;
        position: relative;
    }

    &__icon {
        position: absolute;
        top: -20px;
        right: -5px;

        @include mobile() {
            width: 200px;
            top: 10px;
            right: 25px;
        }
    }
}